h1 {
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--header-color);
}
p {
    font-family: var(--ff-secondary);
    font-size: clamp(0.875em, 2.5vw, 1em);
    color: var(--text-color);
    line-height: 1.7;
}
img {
    border-radius: 8px;
    margin: 50px 0;
}
.chip {
    padding: 4px 16px;
    border-radius: 100px;
    width: fit-content;
    p, i {
        color: #FFF;
    }
}
.angular {
    background-color: #DD1B16;
}
.php {
    background-color: #474A8A;
}
.github {
    background-color: #000;
    a {
        color: #FFF;
        font-family: var(--ff-secondary);
    }
}
.personal {
    background-color: var(--container-color);
    p, i {
        color: var(--header-color);
    }
}
.introduction, .problems {
    p {
        max-width: 80ch;
    }
}
.objectives, .lessons {
    img {
        display: none;
    }
}
.alert-info {
    background-color: var(--alert-bg-color);
    border-color: var(--alert-bg-color);
    color: var(--alert-text-color);
    font-family: var(--ff-primary);
    max-width: 80ch;
    width: fit-content;
    a {
        color: var(--alert-text-color);
        text-decoration: underline;
    }
}
@media screen and (min-width: 1025px) {
    .introduction, .objectives, .problems, .lessons {
        padding: 8rem 0;
    }
    .objectives, .lessons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
        img {
            display: block;
            margin: 0;
        }
    }
    .problems {
        img {
            margin-top: 100px;
        }
    }
}